<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="assets/img/burger.png">

    <title>Alyssa's Burger Builder</title>

     {{!-- Bootstrap CSS --}}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    {{!-- Google Fonts Link --}}
    <link href="https://fonts.googleapis.com/css?family=Caveat+Brush|Cinzel+Decorative:700|Julius+Sans+One|Libre+Barcode+128+Text|Raleway|Titan+One|Walter+Turncoat" rel="stylesheet">
    {{!-- Linking it up to the CSS --}}
    <link href="assets/css/burger_style.css" rel="stylesheet">


  </head>
  <body>
      <div>

      {{{ body }}}

      </div>
      <hr>
      <!-- footer-->
      <footer class=" center footer">
        <div class="container">
          <p>Alyssa Szutz | Coding Bootcamp 2019</p>
        </div>
      </footer>
  </body>
</html>